@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Bree Serif:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

.bg-container1 {
    background-image: url("https://cdn.hipwallpaper.com/i/16/76/4aUei9.jpg");
    height: 103vh;
    background-size: cover;
}

.card1 {
    border-top-left-radius: 21px;
    border-top-right-radius: 21px;
    text-align: center;
    padding: 17px;
    background-color: #ffffff;

}

.card1-head {
    font-size: 33px;
    font-family: "Bree Serif";
    color: #f19116;
}

.card1-para {
    font-size: 20px;
    font-family: "Bree Serif";
    color: #7b8794;
}

.button {
    background-color: #f19116;
    color: #ffffff;
    border-radius: 7px;
    border-width: 0px;
    padding: 9px;
    width: 137px;
    font-size:21px;
}


.bg-container2 {
    background-color: #222222;
    height: 114vh;
    background-size: cover;
    padding: 15px;
}

.mini-card {
    background-color: #ffffff;
    border-radius: 16px;
    margin: 8px;
}

.pad {
    padding: 9px;
}

.mini-card-head {
    font-size: 27px;
    font-weight: bold;
    font-family: "Bree Serif";
    color: #0f0e46;
}

.mini-card-para {
    font-size: 22px;
    font-family: "Bree Serif";
    color: #6c6b70;
}

.img {
    height: 153px;
    width: 147px;
}

.img2 {
    height: 68vh;
    width:99vw;
    background-size:cover;
    border-radius:8px;
    
}
.cen{
    text-align:center;
}

.color1 {

    background-color: white;
}

.mini-card-para1 {
    font-size: 24px;
    font-family: "Bree Serif";
    color: #ffffff;
    font-weight: normal;
}

.button1 {
    background-color: #f19116;
    color: #ffffff;
    border-radius: 7px;
    border-width: 0px;
    padding: 9px;
    width: 140px;
    margin: 20px;
    font-size:21px;
}

.img3 {
    height: 32px;
    width: 27px;
    padding: 3px;
}

.half {
    height:640px;
}
.bg-containerx{
    background-image:url("https://www.chetu.com/img/payments/payments-main/sliderbg/payments-banner-1.jpg");
    padding:8px;
    height:100vh;
    background-size:cover;
    
}
.cen{
    text-align: center;
}
.a{
    font-size: 29px;
    font-weight:bold;
    font-family:"Trebuchet MS";
}
.c{
    font-size: 32.3px;
    font-weight: bold;
    font-family:"Verdana";
}
.headx{
    color:#ffffff;
    font-size: 33px;
    font-weight:bold;
    background-color: #f19116;
    width:268px;
    border-radius:5px;
    padding:4px;
    
    
}
.headx1{
   
    color:black;
    
    font-size:38px;
    font-family: "Georgia";
    font-weight: bold;
}
.xyz{
    height: 3.5px;
    background-color:black ;
}
.but {
    background-color: #f19116;
    color: #ffffff;
    font-size:24px;
    border-radius: 8px;
    border-width: 0px;
    padding: 7px;
    width: 185px;
    margin: 20px;
}
.imgx{
    margin-left:29px;
    margin-right:29px;
    width:96px;
    height:79px;
}
